# Основные компоненты для работы с LLM и базой знаний
langchain-community
langchain-core
langchain-huggingface
langchain-groq
sentence-transformers
python-dotenv
faiss-cpu
requests
beautifulsoup4

# Для API и логирования
fastapi
uvicorn[standard]
pydantic
pandas

# Для LangChain логирования
langgraph
langchain-core[tracing]
